.row{
    width: 80%;
    height: 500px;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}
.col{
    width: 100px;
    height: 400px;
    
}
.col-1{
    position: absolute;
    left: 50px;
    background-color: blanchedalmond;
}
.col-2{
    position: absolute;
    left: 200px;
    background-color: rgb(146, 95, 17);
}
.col-3{
    position: absolute;
    left: 350px;
    background-color: rgb(45, 155, 189);
}
.col-4{
    position: absolute;
    left: 500px;
    background-color: rgb(182, 56, 155);
}